.footer {
  background-color: $light-black;
  display: flex;
  flex-direction: column;
  padding: 94px 0 10px;
  background-image: url("../img/footer/hr.png");
  background-repeat: no-repeat;
  background-position: bottom 37px left;

  @include adaptive($small-desktop) {
    background-image: url("../img/footer/hr_1024.png");
  }

  @include adaptive($phone) {
    padding: 54px 0 10px;
  }

  &__content {
    padding-bottom: 113px;

    @include adaptive($ipad) {
      padding-bottom: 100px;
    }

    @include adaptive($phone) {
      padding-bottom: 36px;
    }

    .container {
      display: flex;
      justify-content: space-between;

      @include adaptive($ipad) {
        flex-direction: column;
        align-items: center;
        gap: 80px;
      }

      @include adaptive($phone) {
        padding: 0;
        gap: 54px;
      }

      .footer__info {
        @include adaptive($ipad) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .footer__socials {
          display: flex;
          gap: 21px;
          margin-top: 15px;

          .footer__social {
            width: 100%;
            height: 100%;

            &__link {
              display: block;
              width: 24px;
              height: 24px;

              @include social;

              @include adaptive($ipad) {
                width: 100%;
                height: 36px;
              }

              svg {
                @include adaptive($ipad) {
                  width: 36px;
                  height: 36px;
                }
              }
            }
          }
        }
      }

      .footer__nav {
        display: flex;
        justify-content: space-between;
        max-width: 445px;
        width: 100%;

        @include adaptive($ipad) {
          max-width: 100%;
        }

        @include adaptive($phone) {
          background-color: $black;
          padding: 30px 32px;
          gap: 24px;
          flex-wrap: wrap;
          justify-content: unset;
        }

        .footer__list {
          display: flex;
          flex-direction: column;
          gap: 17px;

          @include adaptive($ipad) {
            gap: 26px;
          }

          @include adaptive($phone) {
            gap: 24px;
            max-width: 42%;
            width: 100%;
          }

          .footer__item {
            // max-width: 86px;
            // width: 100%;

            .footer__link {
              font-size: 16px;
              line-height: 16px;
              color: $white;

              @include link-states(-5px, -3px, 10px, 6px);

              &:focus {
                background-color: $light-violet;
              }

              @include adaptive($phone) {
                font-size: 12px;
                line-height: 12px;
              }
            }
          }
        }
      }
    }
  }

  &__text {
    align-self: center;
    font-size: 16px;
    line-height: 17px;
    color: $dark-gray;

    @include adaptive($phone) {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
