.guests {
  padding: 94px 0 94px;
  background-color: $black;

  @include adaptive($tablet) {
    padding: 56px 0 54px;
  }

  &__content {
    .guests__title {
      color: $white;
    }

    .guests__descr {
      margin: 0;
      margin-top: 12px;
      font-size: 20px;
      line-height: 32px;
      color: $dark-gray;
      max-width: 825px;

      @include adaptive($small-desktop) {
        max-width: 536px;
      }

      @include adaptive($tablet) {
        font-size: 14px;
        line-height: 22px;
        max-width: fit-content;
      }

      .descr-prefix {
        display: block;
        margin-bottom: 8px;
        line-height: 30px;
        font-weight: 700;

        @include adaptive($tablet) {
          line-height: 21px;
          margin: 0;
        }
      }
    }

    .guests__info {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      @include adaptive($ipad) {
        flex-direction: column;
      }

      @include adaptive($tablet) {
        margin-top: 30px;
      }

      .info__list {
        max-width: 730px;
        width: 100%;

        @include adaptive($small-desktop) {
          max-width: 539px;
        }

        .info__item {
          & .info__btn {
            border-top: 1px solid $dark-gray;
            border-bottom: 1px solid $dark-gray;
          }

          &.is-active {
            svg path {
              transform: rotate(180deg);
              transform-origin: center center;
            }

            .info__btn {
              border-top: 1px solid $light-violet;
              border-bottom: 1px solid $light-violet;
            }
          }

          &:not(:first-child) {
            margin-top: -1px;
          }
          .info__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            color: $white;
            padding: 20px 0;

            @include btn__guests;

            @include adaptive($phone) {
              padding: 10px 0;
              font-size: 16px;
              line-height: 16px;
            }

            svg {
              @include adaptive($phone) {
                width: 30px;
                height: 30px;
              }
            }
          }

          .info__people {
            .people__list {
              display: flex;
              flex-wrap: wrap;
              gap: 13px 30px;
              padding: 30px 0;

              @include adaptive($small-desktop) {
                gap: 13px 29px;
              }

              @include adaptive($ipad) {
                gap: 27px 29px;
              }

              @include adaptive($phone) {
                gap: 23px 61px;
                padding: 19px 0;
              }

              .people__item {
                width: 100%;
                max-width: 160px;

                @include adaptive($phone) {
                  max-width: 82px;
                }

                .people__link {
                  font-size: 16px;
                  line-height: 16px;
                  color: $white;

                  @include adaptive($phone) {
                    font-size: 14px;
                  }

                  &.--active {
                    color: $light-violet;
                  }
                }
              }
            }
          }
        }
      }

      .author {
        max-width: 350px;
        width: 100%;

        @include adaptive($small-desktop) {
          max-width: 255px;
        }

        @include adaptive($ipad) {
          margin-top: 50px;
          max-width: fit-content;
        }

        @include adaptive($phone) {
          margin-top: 34px;
        }

        &__socials {
          margin-top: 8px;
          display: flex;
          gap: 30px;

          @include adaptive($small-desktop) {
            margin-top: 5px;
          }

          @include adaptive($ipad) {
            margin-top: 7px;
          }

          @include adaptive($phone) {
            gap: 21px;
          }

          .author__social {
            @include social;
          }

          svg {
            @include adaptive($phone) {
              width: 36px;
              height: 36px;
            }
          }
        }

        &__title {
          display: block;
          margin-top: 8px;
          font-size: 20px;
          line-height: 20px;
          font-weight: 500;
          color: $white;
        }

        &__descr {
          margin: 0;
          margin-top: 8px;
          font-size: 16px;
          line-height: 29px;
          color: $dark-gray;

          @include adaptive($ipad) {
            max-width: 398px;
          }
        }

        &__btn {
          margin-top: 30px;
          font-size: 16px;
          line-height: 16px;
          font-weight: 500;
          color: $light-violet;
          padding: 10px 18px;
          border: 2px solid $light-violet;
          border-radius: 77px;

          @include btn__author;

          @include adaptive($phone) {
            padding: 7px 13px;
          }
        }
      }
    }
  }
}
