.header {
  &__top {
    padding: 21px 0 20px;
    border-bottom: 1px solid $light-gray;

    @include adaptive($small-desktop) {
      &::before {
        content: "";
        display: block;
        background-color: $light-gray;
        width: 100%;
        height: 60px;

        @include adaptive($phone) {
          height: 54px;
        }
      }
    }

    @include adaptive($small-desktop) {
      padding: 0 0 20px;
    }

    @include adaptive($tablet) {
      position: relative;
    }

    @include adaptive($phone) {
      padding: 0 0 10px;
    }

    &__content {
      // position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include adaptive($small-desktop) {
        padding-top: 20px;
      }

      @include adaptive($tablet) {
        padding-top: 11px;
      }

      .header__logo {
        svg {
          @include adaptive($small-desktop) {
            width: 112px;
            display: block;
          }

          @include adaptive($tablet) {
            width: 87px;
          }
        }
        @include adaptive($small-desktop) {
          position: absolute;
          top: 20px;
        }

        @include adaptive($phone) {
          top: 17px;
        }
      }

      .burger {
        display: none;
        width: 24px;
        height: 24px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        outline: none;

        @include burger;

        @include adaptive($ipad) {
          display: flex;
        }

        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 3px;
          background-color: $violet;
          border-radius: 4px;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
          }

          &:nth-child(3) {
            bottom: 0;
          }
        }

        &__open {
          display: none;
          position: fixed;
          width: 100vw;
          height: 100vh;
          left: 0;
          top: 60px;
          background-color: $gray;
          z-index: 2;

          @include adaptive($tablet) {
            padding: 80px 0 0;
          }

          @include adaptive($phone) {
            top: 54px;
          }

          .container {
            width: 100%;
            display: flex;
            padding-top: 106px;
            background-image: url("../img/header/bg_burger.png"),
              url("../img/header/bg_burger-2.png");
            background-repeat: no-repeat;
            background-position: right 142px bottom, right 15px top;

            @include adaptive($tablet) {
              background-image: none;
              align-items: unset;
              padding: 0;
              max-width: 100%;
            }
          }

          .menu__close {
            position: absolute;
            top: 28px;

            @include burger__close;

            @include adaptive($tablet) {
              top: 28px;
              left: 32px;
            }
          }

          .burger__content {
            @include adaptive($tablet) {
              background-color: $white;
            }

            .menu__list {
              display: flex;
              flex-wrap: wrap;
              max-width: 270px;
              width: 100%;
              gap: 64px 48px;
              background-color: $gray;

              @include adaptive($tablet) {
                gap: 10px;
                padding: 0 32px 24px 32px;
                max-width: 100%;
              }

              .menu__item {
                @include adaptive($tablet) {
                  width: 100%;

                  &:nth-child(even) {
                    text-align: end;

                    .menu__link {
                      display: inline-block;
                      width: 108px;
                      text-align: left;
                    }
                  }
                }

                .menu__link {
                  font-size: 20px;
                  line-height: 20px;
                  color: $black;
                  z-index: 1;

                  @include link-states(-10px, -4px, 20px, 8px);
                }
              }
            }

            .burger__list {
              display: none;
              flex-wrap: wrap;
              gap: 30px 78px;

              @include adaptive($tablet) {
                display: flex;
                padding: 30px 32px;
              }

              .burger__item {
                width: 72px;
                height: fit-content;

                .burger__link {
                  font-size: 16px;
                  line-height: 16px;
                  color: $black;
                  z-index: 1;

                  @include link-states(-5px, -3px, 10px, 6px);
                }
              }
            }
          }
        }
      }

      .nav {
        @include adaptive($ipad) {
          display: none;
        }
        &__list {
          display: flex;
          gap: 59px;

          .nav__item {
            .nav__link {
              color: $black;
              font-size: 20px;
              line-height: 20px;

              @include link-states(-10px, -4px, 20px, 8px);
            }
          }
        }
      }

      .header__btns {
        position: relative;
        display: flex;
        align-items: center;
        gap: 24px;

        @include adaptive($tablet) {
          position: relative;
        }

        .btn__search {
          @include search-states;
        }

        .header__btn {
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          padding: 10px 31px;
          border: 2px solid $black;
          border-radius: 77px;
          color: $black;

          @include btn__header;

          @include adaptive($tablet) {
            position: absolute;
            top: -23px;
            right: 0;
            padding: 7px 22px;
            transform: translateY(-100%);
          }
        }
      }

      .search__input {
        position: absolute;
        left: 0;
        width: 0;
        padding-left: 15px;
        background-color: $white;
        opacity: 0;
        border: none;
        outline: none;
        border-bottom: 1px solid $violet;
        transform: translateX(-100%);
        transition: width 0.3s ease, opacity 0.2s ease;

        @include adaptive($big-phone) {
          padding: 0;
        }

        &::placeholder {
          font-size: 16px;
          line-height: 16px;
          color: $dark-gray;
        }
      }

      .--input__open {
        width: 308px;
        opacity: 1;

        @include adaptive($big-phone) {
          width: 189px;
        }
      }
    }
  }

  &__bottom {
    padding: 11px 0 14px;
    border-bottom: 1px solid $light-gray;

    @include adaptive($ipad) {
      padding: 16px 0 18px;
    }

    @include adaptive($phone) {
      padding: 13px 0 14px;
    }

    &__content {
      position: relative;
      display: flex;
      align-items: center;
      gap: 57px;

      @include adaptive($small-desktop) {
        gap: 35px;
      }

      @include adaptive($ipad) {
        gap: 0;
        justify-content: space-between;
      }

      @include adaptive($tablet) {
        justify-content: center;
      }

      .header__bottom__btn {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $violet;
        align-items: center;
        gap: 5px;
        width: 100%;
        justify-content: center;

        @include adaptive($tablet) {
          display: flex;
        }

        svg {
          transition: all 0.3s ease;
        }
      }

      .--transform__btn {
        svg {
          transform: rotate(45deg);
          transform-origin: 50%;
        }
      }

      .nav-bottom {
        @include adaptive($tablet) {
          display: none;
        }

        &__list {
          display: flex;
          gap: 52px;

          @include adaptive($small-desktop) {
            gap: 28px;
          }

          @include adaptive($ipad) {
            gap: 29px;
          }

          .nav-bottom__item {
            .nav-bottom__link {
              color: $black;
              font-size: 16px;
              line-height: 16px;

              @include link-states(-5px, -3px, 10px, 6px);
            }
          }
        }
      }

      .btn__play {
        display: none;

        @include btn__ether;

        .ether--pause {
          opacity: 0;
        }

        .ether--play {
          opacity: 1;
        }

        svg {
          display: block;
        }

        @include adaptive($ipad) {
          display: block;
        }

        @include adaptive($tablet) {
          display: none;
        }
      }

      .ether__btn--toggle {
        .ether--pause {
          opacity: 1;
        }

        .ether--play {
          opacity: 0;
        }
      }

      .ethers {
        display: flex;
        border-left: 1px solid $light-gray;
        border-right: 1px solid $light-gray;

        @include adaptive($ipad) {
          display: none;
        }

        .ether {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 0 10px;

          &__btn {
            width: 24px;
            height: 24px;

            @include btn__ether;

            .ether--pause {
              opacity: 0;
            }

            .ether--play {
              opacity: 1;
            }
          }

          .ether__btn--toggle {
            .ether--pause {
              opacity: 1;
            }

            .ether--play {
              opacity: 0;
            }
          }

          &__info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 121px;

            @include adaptive($small-desktop) {
              width: 97px;
            }

            .ether__title {
              font-size: 12px;
              line-height: 12px;
              color: $dark-gray;
            }

            .ether__descr {
              font-size: 16px;
              line-height: 16px;
            }
          }

          &:first-child {
            border-right: 1px solid $light-gray;
          }
        }
      }

      .censure {
        background-color: $light-gray;
        position: absolute;
        top: -13px;
        right: 0;
        height: calc(100% + 27px);
        display: flex;
        align-items: center;
        padding: 0 8px;

        @include adaptive($small-desktop) {
          display: none;
        }
      }
    }
  }

  .players {
    display: none;

    &__content {
      display: flex;
      padding: 9px 0 6px;
      width: 100%;

      .ether {
        width: 50%;

        &:first-child {
          border-right: 1px solid $gray;
        }

        &:last-child {
          padding-left: 30px;
        }

        &__info {
          display: flex;
          flex-direction: column;

          .ether__title {
            font-size: 10px;
            line-height: 10px;
            color: $dark-gray;
          }

          .ether__descr {
            font-size: 14px;
            line-height: 14px;
          }
        }

        &__btn {
          width: 24px;
          height: 24px;

          @include btn__ether;

          .ether--pause {
            opacity: 0;
          }

          .ether--play {
            opacity: 1;
          }
        }

        .ether__btn--toggle {
          .ether--pause {
            opacity: 1;
          }

          .ether--play {
            opacity: 0;
          }
        }
      }
    }
  }

  .--players__block {
    display: block;
  }
}
