.popup {
  display: none;
  justify-content: center;
  padding-top: 80px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 2;

  @include adaptive($tablet) {
    padding-top: 55px;
  }

  &__content {
    position: relative;
    background-color: $black;
    max-width: 824px;
    width: 100%;
    padding: 60px;
    height: fit-content;

    @include adaptive($ipad) {
      padding: 60px 39px;
      max-width: 539px;
    }

    @include adaptive($tablet) {
      max-width: 256px;
      padding: 40px 20px;
    }

    .popup__close {
      position: absolute;
      top: 30px;
      right: 30px;

      @include btn__close;

      @include adaptive($tablet) {
        right: 20px;
        top: 20px;
      }

      svg {
        @include adaptive($tablet) {
          width: 28px;
          height: 28px;
        }
      }
    }

    .popup__title {
      color: $white;
    }

    .popup__info {
      display: block;
      margin-top: 17px;
      font-size: 20px;
      line-height: 20px;
      color: $white;

      @include adaptive($tablet) {
        margin-top: 8px;
        color: $dark-gray;
        font-size: 12px;
        line-height: 24px;
      }

      .popup__link {
        font-size: 20px;
        line-height: 30px;
        color: $violet;

        @include adaptive($tablet) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .popup__form {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include adaptive($tablet) {
        margin-top: 20px;
        gap: 20px;
      }

      .popup__label {
        max-width: 526px;
        width: 100%;

        @include adaptive($ipad) {
          max-width: 459px;
        }

        .popup__input {
          background-color: transparent;
          border: 1px solid $white;
          outline: none;
          padding: 25px 0 25px 32px;
          border-radius: 40px;
          width: 100%;
          color: $white;

          @include adaptive($tablet) {
            padding: 12px 0 12px 18px;
          }

          &::placeholder {
            font-size: 20px;
            line-height: 20px;
            color: $dark-gray;

            @include adaptive($tablet) {
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }

      .popup__btn {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: $white;
        padding: 25px 54px;
        background-color: $violet;
        border-radius: 40px;
        max-width: 167px;

        @include adaptive($tablet) {
          max-width: 160px;
          padding: 12px 56px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    .popup__down {
      margin-top: 30px;
      border-top: 1px solid rgba(230, 232, 236, 0.4);
      padding-top: 30px;

      @include adaptive($tablet) {
        padding-top: 10px;
      }

      .popup__text {
        font-size: 20px;
        line-height: 20px;
        color: $white;

        @include adaptive($tablet) {
          color: $dark-gray;
          font-size: 12px;
          line-height: 24px;
        }
      }

      .popup__socials {
        margin-top: 30px;
        display: flex;
        gap: 40px;

        @include adaptive($tablet) {
          margin-top: 10px;
          gap: 48px;
        }

        .popup__social {
          width: 40px;
          height: 100%;

          &__link {
            display: block;
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
