.podcasts {
  padding: 94px 0 94px;
  background-color: $light-gray;

  @include adaptive($tablet) {
    padding: 54px 0 56px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    .podcasts__cards {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      @include adaptive($tablet) {
        margin-top: 20px;
      }

      .podcasts__card {
        position: relative;
        display: flex;
        max-width: 540px;
        width: 100%;

        @include adaptive($small-desktop) {
          max-width: 396px;
        }

        @include adaptive($ipad) {
          max-width: 540px;
        }

        @include adaptive($tablet) {
          &:nth-last-child(-n + 4) {
            display: none;
          }
        }

        @include adaptive($phone) {
          flex-direction: column;
        }

        picture {
          flex-shrink: 0;

          img {
            display: block;
            width: 112px;
            height: 100%;

            @include adaptive($phone) {
              width: 100%;
            }
          }
        }

        .card__data {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 10px;
          line-height: 10px;
          background-color: $light-gray;
          padding: 3px 6px;

          @include adaptive($phone) {
            top: 0;
            bottom: unset;
          }
        }

        .card__content {
          width: 100%;
          background-color: $white;

          .card__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 30px;

            @include adaptive($phone) {
              padding: 16px;
            }

            .card__info {
              display: flex;
              flex-direction: column;

              .card__time {
                font-size: 12px;
                line-height: 12px;
              }

              .card__title {
                margin-top: 8px;
                font-size: 20px;
                line-height: 20px;

                @include adaptive($phone) {
                  font-size: 16px;
                  line-height: 16px;
                }
              }

              .card__author {
                margin-top: 4px;
                font-size: 16px;
                line-height: 16px;
                color: $dark-gray;

                @include adaptive($phone) {
                  font-size: 12px;
                  line-height: 12px;
                  margin-top: 5px;
                }
              }
            }

            .card__btn {
              width: 48px;
              height: 48px;

              @include btn__card;

              @include adaptive($phone) {
                width: 36px;
                height: 36px;
              }

              svg {
                @include adaptive($phone) {
                  width: 36px;
                  height: 36px;
                }

                circle {
                  @include adaptive($phone) {
                    stroke: $violet;
                  }
                }

                path {
                  @include adaptive($phone) {
                    fill: $violet;
                  }
                }
              }
            }
          }

          .card__bottom {
            display: flex;
            gap: 30px;
            padding: 8px 0 6px 30px;
            border-top: 1px solid $light-gray;

            @include adaptive($phone) {
              padding: 6px 0 8px 34px;
            }

            .card__views {
              display: flex;
              align-items: center;
              gap: 6px;
              font-size: 16px;
              line-height: 16px;
              color: $dark-gray;

              @include adaptive($phone) {
                font-size: 12px;
                line-height: 12px;
              }
            }
          }
        }
      }
    }

    .podcasts__btn {
      margin-top: 60px;
      max-width: fit-content;
      align-self: center;
      outline: 2px solid $violet;
      background-color: transparent;
      color: $violet;

      @include brn__podcasts;

      @include adaptive($phone) {
        margin-top: 30px;
        padding: 16px 28px;
      }
    }
  }
}
