<section class="broadcasts" id="broadcasts">
  <div class="container">
    <div class="broadcasts__content">
      <div class="broadcasts__left">
        <h2 class="broadcasts__title title">Передачи</h2>
        <div class="broadcasts__info">
          <span class="broadcasts__author"> Автор: </span>
          <select name="author" class="broadcasts__select">
            <option value="author1" selected>Дмитрий Гутенберг</option>
            <option value="author2">Татьяна Флеганова</option>
            <option value="author3">Анна Васильева</option>
            <option value="author4">Пётр Дмитриевский</option>
          </select>
        </div>
      </div>
      <ul class="broadcasts__cards list-reset">
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-1_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-1.png" alt="Передача 1" />
          </picture>
          <div class="item__content">
            <span class="item__name">О людях и книгах</span>
            <span class="item__time">Анонсируется отдельно</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-2_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-2.png" alt="Передача 2" />
          </picture>
          <div class="item__content">
            <span class="item__name">Графомания td</span>
            <span class="item__time">По понедельникам в 10:00</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-3_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-3.png" alt="Передача 3" />
          </picture>
          <div class="item__content">
            <span class="item__name">Не Рим, не Троя</span>
            <span class="item__time">По вторникам в 12:00</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-4_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-4.png" alt="Передача 4" />
          </picture>
          <div class="item__content">
            <span class="item__name">Эрудит</span>
            <span class="item__time">По пятницам в 17:00</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-5_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-5.png" alt="Передача 5" />
          </picture>
          <div class="item__content">
            <span class="item__name">Тонкости эпох</span>
            <span class="item__time">По субботам в 10:00</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="broadcasts__item">
          <picture>
            <source
              srcset="../img/broadcasts/broadcasts-6_phone.jpg"
              media="(max-width: 374px)"
            />
            <img src="../img/broadcasts/broadcast-6.png" alt="Передача 6" />
          </picture>
          <div class="item__content">
            <span class="item__name">Живые мысли</span>
            <span class="item__time">По воскресеньям в 15:30</span>
            <a href="" class="item__link">
              Подробнее
              <svg
                width="28"
                height="12"
                viewBox="0 0 28 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                  fill="#121723"
                />
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="broadcasts__archive --adaptive">
        <picture>
          <img src="../img/broadcasts/microfon.png" alt="Микрофон" />
        </picture>
        <div class="archive__content">
          <button class="broadcasts__btn btn-reset">Архив</button>
          <span class="archive__info"
            >В архив попадают все передачи, которые вы пропустили! Enjoy:)</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="broadcasts__footer">
    <div class="broadcasts__archive">
      <picture>
        <img src="../img/broadcasts/microfon.png" alt="Микрофон" />
      </picture>
      <div class="archive__content">
        <button class="broadcasts__btn btn-reset">Архив</button>
        <span class="archive__info"
          >В архив попадают все передачи, которые вы пропустили! Enjoy:)</span
        >
      </div>
    </div>
  </div>
</section>
