<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__info">
        <h1 class="hero__title">Радио <span>W-Wave</span></h1>
        <div class="hero__descr">
          Привет, на связи W-Wave! Раньше мы были изданием, а теперь пробуем
          себя в разоворном жанре. Говорим о музыке, политике, истории, науке
          и культуре. Здесь, помимо прямого эфира — архив передач и многое
          другое:)
        </div>
        <button class="hero__btn btn-reset btn-violet">Слушать эфир</button>
      </div>
      <picture>
        <img
          src="./img/hero/microphone.png"
          alt="Microphone"
          class="hero__img"
        />
      </picture>
    </div>
  </div>
</section>
