<section class="playlists">
  <div class="container">
    <div class="playlists__content">
      <div class="playlists__left">
        <h2 class="playlists__title title">Плейлисты</h2>
        <div class="playlists__genre">
          <span class="genre">Жанр</span>
          <div class="genre__different">
            <div class="genre__content">
              <label for="postpank">
                <input type="radio" name="genre" id="postpank" checked />
                Постпанк
                <span></span>
              </label>
              <label for="hardcore">
                <input type="radio" name="genre" id="hardcore" />
                Хардкор
                <span></span>
              </label>
              <label for="pank-rock">
                <input type="radio" name="genre" id="pank-rock" />
                Панк-рок
                <span></span>
              </label>
              <label for="rock">
                <input type="radio" name="genre" id="rock" />
                Рок
                <span></span>
              </label>
            </div>
            <div class="genre__content">
              <label for="progressive-rock">
                <input type="radio" name="genre" id="progressive-rock" />
                Прогрессивный рок
                <span></span>
              </label>
              <label for="electro-music">
                <input type="radio" name="genre" id="electro-music" />
                Электронная музыка
                <span></span>
              </label>
              <label for="classic-music">
                <input type="radio" name="genre" id="classic-music" />
                Классическая музыка
                <span></span>
              </label>
              <label for="sounds">
                <input type="radio" name="genre" id="sounds" />
                Звуки природы и шум города
                <span></span>
              </label>
            </div>
          </div>
        </div>
        <div class="playlists__info --desktop">
          <p class="playlists__info-descr">
            Раздел «Плейлисты» может содержать информацию, не предназначенную
            для несовершеннолетних
          </p>
          <span class="playlists__info-text">© 2021 l W-Wave</span>
          <img
            class="playlists__info-censure"
            src="../img/playlists/18+.png"
            alt="18+"
          />
        </div>
      </div>
      <ul class="playlists__cards list-reset">
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-1.png" alt="Плейлист 1" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Ploho</span>
            <span class="descr__info">3 последних альбома</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-2.png" alt="Плейлист 2" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Molchat Doma</span>
            <span class="descr__info">Все песни</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-3.png" alt="Плейлист 3" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Motorama</span>
            <span class="descr__info">Все синглы</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-4.png" alt="Плейлист 4" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Human Tetris</span>
            <span class="descr__info">3 последних альбома</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-5.png" alt="Плейлист 5" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Буерак</span>
            <span class="descr__info">Все EP</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-6.png" alt="Плейлист 6" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-russia.jpg" alt="Россия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Июльские Дни</span>
            <span class="descr__info">Альбом «Колокол»</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-7.png" alt="Плейлист 7" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Joy Division</span>
            <span class="descr__info">Лучшее за всё время</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-8.png" alt="Плейлист 8" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">The Cure</span>
            <span class="descr__info">Лучшее за всё время</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-9.png" alt="Плейлист 9" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">The Smiths</span>
            <span class="descr__info">Период 1984–1988</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-10.png" alt="Плейлист 10" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">New Order</span>
            <span class="descr__info">Хиты</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-11.png" alt="Плейлист 11" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Bauhaus</span>
            <span class="descr__info">Все синглы</span>
          </div>
        </li>
        <li class="playlist__item">
          <picture>
            <img src="../img/playlists/playlist-12.png" alt="Плейлист 12" />
          </picture>
          <div class="playlist__country">
            <img src="../img/playlists/country-england.jpg" alt="Англия" />
          </div>
          <div class="playlist__item__descr">
            <span class="descr__title">Gang Of Four</span>
            <span class="descr__info">3 последних альбома</span>
          </div>
        </li>
      </ul>
      <div class="playlists__info">
        <p class="playlists__info-descr">
          Раздел «Плейлисты» может содержать информацию, не предназначенную
          для несовершеннолетних
        </p>
        <span class="playlists__info-text">© 2021 l W-Wave</span>
        <img
          class="playlists__info-censure"
          src="../img/playlists/18+.png"
          alt="18+"
        />
      </div>
    </div>
  </div>
</section>
